h1 {
    text-align: center;
    color: red;
}

p {
    width: 800px;
    margin: 0 auto;
    color: saddlebrown;
}

#main {
    color: rgb(255, 68, 0);
    background-color: bisque;
}

.A {
    border: 5px solid black;
    padding: 0 10px 20px 30px;
    background-color: azure;
}